<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    {% if page.title %}
    <title>{{ page.title }} - {{ site.name }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}
    <meta name="description" content="{{ page.description }}" />
    <link href="atom.xml" rel="alternate" title="RSS" type="application/rss+xml" />
    {% include stylesheets.html %}
    <!--[if IE]>
      <script type="text/javascript" src="/js/html5.js"></script>
    <![endif]-->
  </head>
  <body class="container_24">
    {% include header.html %}
    {% include navigation.html %}
    <section id="content" class="grid_24 post">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
        </header>
        <section>
          {{ content }}
        </section>
        <section>
          <h2>Comments</h2>
          <div id="disqus_thread"></div>
          <script type="text/javascript" src="http://disqus.com/forums/{{ site.disqus}}/embed.js"></script>
          <noscript>
            <a href="http://disqus.com/forums/{{ site.disqus }}/?url=ref">View the discussion thread.</a>
          </noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
      </article>
    </section>
    <script type="text/javascript">
      //<![CDATA[
      (function() {
	      var links = document.getElementsByTagName('a');
	      var query = '?';
	      for(var i = 0; i < links.length; i++) {
	        if(links[i].href.indexOf('#disqus_thread') >= 0) {
		        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	        }
	      }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/{{ site.disqus }}/get_num_replies.js' + query + '"></' + 'script>');
      })();
    //]]>
    </script>
    {% include analytics.html %}
  </body>
</html>
